
strong {
  padding-bottom: 15px;
  font-size: 20px;
}

img {
  max-height: 350px;
  width: 900px;
}

article a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  width: 100%;
  margin-top: -30px;
  text-align: center;
  background-color: blueviolet;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}